div {
    width: 80px;
    height: 200px;
    position:absolute
}


.div1 {
    background-color: blue;
    /* border: 10px solid black; */
    /* margin-left:     */
    
}


.div2 {
    background-color: yellow;
    /* border: 20px solid black; */
    margin-left: 80px;
    
}


.div3 {
    background-color: red;
    /* border: 10px solid black; */
    margin-left: 160px;
    
}