
div {
    width: 200px;
    height: 200px;
    
}
h1{
    position:sticky
}
span{
    background-color: yellow
}

.div1 {
    background-color: lightblue;
    border: 10px solid black;
    padding: 20px;
    position: relative
    
}


.div2 {
    background-color: red;
    border: 20px solid black;
    margin-left: 260px;
    /* position: relative */
}


.div3 {
    background-color: yellow;
    border: 10px solid black;
    margin-left: 500px;
    /* position: relative */
}

